<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
<head>
   <meta charset="UTF-8"/>
   <title>Pesquisa de Títulos</title>    
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
   <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
   <nav class="navbar navbar-dark bg-dark mb-5">
  		<a class="navbar-brand" href="#">
        	<img alt="AlgaWorks" src="/images/logo-algaworks.png" />
        </a>
	</nav>

   <div class="card">
   	<div class="card-header">
      		<h4 class="card-title">Pesquisa de Títulos</h4>
      	</div>
      	
      	<div class="card-body">
      		<table class="table table-bordered table-striped">
      			<thead>
      				<tr>
      					<th class="text-center">#</th>
      					<th class="text-center">Descrição</th>
      					<th class="text-center">Data de Vencimento</th>
      					<th class="text-right">Valor</th>
      					<th class="text-center">Status</th>
      					<th></th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr>
      					<td colspan="6">Nenhum título foi encontrado</td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
   </div>
   
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="/js/bootstrap.min.js"></script>
</body>
</html>