<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{LayoutPadrao}">
    
<head>
   <title>Pesquisa de Títulos</title>    
</head>

<section layout:fragment="corpo">
   <div class="card">
   	<div class="card-header">
   			<div class="clearfix">
	      		<h4 class="card-title float-left">Pesquisa de Títulos</h4>
	      		<a class="btn btn-link float-right" href="/titulos/novo">Novo título</a>
      		</div>
      	</div>
      	
      	<div class="card-body">
      		<table class="table table-bordered table-striped">
      			<thead>
      				<tr>
      					<th class="text-center">#</th>
      					<th class="text-center">Descrição</th>
      					<th class="text-center">Data de Vencimento</th>
      					<th class="text-right">Valor</th>
      					<th class="text-center">Status</th>
      					<th></th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr>
      					<td colspan="6">Nenhum título foi encontrado</td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
   </div>
</section>
</html>