<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{LayoutPadrao}">
    
<head>
   <title>Pesquisa de Títulos</title>    
</head>

<section layout:fragment="corpo">
   <div class="card">
   	<div class="card-header">
   			<div class="clearfix">
	      		<h4 class="card-title float-left">Pesquisa de Títulos</h4>
	      		<a class="btn btn-link float-right" href="/titulos/novo">Novo título</a>
      		</div>
      	</div>
      	
      	<div class="card-body">
      		<table class="table table-bordered table-striped">
      			<thead>
      				<tr>
      					<th class="text-center">#</th>
      					<th class="text-center">Descrição</th>
      					<th class="text-center">Data de Vencimento</th>
      					<th class="text-right">Valor</th>
      					<th class="text-center">Status</th>
      					<th></th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr th:each="titulo : ${titulos}">
      					<td class="text-center" th:text="${titulo.codigo}"></td>
      					<td th:text="${titulo.descricao}"></td>
      					<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
      					<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
      					<td class="text-center">
      						<span class="badge" th:text="${titulo.status.descricao}"
      						th:classappend="${(titulo.pendente) ? 'badge-danger' :  'badge-success'}"></span>
      					</td>
      					<td class="text-center">
      						<a th:href="@{'/titulos/' + ${titulo.codigo}}">
      							<i class="fas fa-fw fa-edit"></i>
      						</a>
      					</td>
      				</tr>
      				<tr>
      					<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
   </div>
</section>
</html>